#youtube {
	font-family:arial,helvetica,sans-serif;
	font-size:40px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style:solid;
	border-color:white;
	background-color:black;
	color:white;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align:center
}

#twitch {
	font-family:arial,helvetica,sans-serif;
	font-size:40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style:solid;
	border-color:white;
	background-color:black;
	color:white;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align:center
}

#twitter {
	font-family:arial,helvetica,sans-serif;
	font-size:40px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style:solid;
	border-color:white;
	background-color:black;
	color:white;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align:center
}

body {
	background-color:black;
}