#title {
	font-family:arial, helvetica, sans-serif;
	font-size:5vw;
	text-align:center;
	color:white;
	position: relative;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: underline;
}

a:active {
      text-decoration: none;
}

body {
	background-color:black;
}

#youtube {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 41%;
	transform: translate(-50%, -50%);
	font-size:3vw;
}

#twitch {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 51%;
	transform: translate(-50%, -50%);
	font-size:3vw;
}

#twitter {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	font-size:3vw;
}