#title {
	font-family:arial, helvetica, sans-serif;
	font-size:77px;
	text-align:center;
	color:white;
	position: relative;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	background-color:black;
}

#links {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 40%;
	transform: translate(-50%, -50%);
	font-size:31px;
}

#logs {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:31px;
}

#stuff {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	font-size:31px;
}

#miasite {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	color:white;
	margin: 0;
	position: absolute;
	top: 98%;
	left: 50%;
	transform: translate(-50%, -50%);
}