body {
	background-color:black;
	color:white;
}

#logs:link {
	color: #00FF00;
	text-decoration: none;
}

#logs:visited {
	color: #00FF00;
	text-decoration: none;
}

#logs:hover {
	color: #00FF00;
	text-decoration: none;
}

#logs:active {
	color: ;
	text-decoration: none;
}

#store {
	color: #FF1493;
}

#logsbody {
	color:#00FF00;
}

#name {
	color:#00BFFF;
}
