body {
	background-image: url('stars.bmp');
    background-size: 10vw;
}

#WELCOMETO {
    width: 82vw;
	position: absolute;
	margin-left: 7%;
	opacity: 0%;
}

#door {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 30vw;
}